<!-- <nav>
  <%= link_to about_path, class: "navbar-brand" do %>
    <%= "kycode" %>
    <% end %>
    <ul class="navbar-n">
  <li>
 <div class="navitem"><%= link_to about_path, class:"nav-link" do %>
 <div class="itemcontent">
 <%= "à propos" %>
 </div>
 <% end %>
 </div>
 </li>
 <li>
 <div class="navitem"><%= link_to projects_path, class:"nav-link" do %>
 <div class="itemcontent">
 <%= "projets" %>
 </div>
 <% end %>
 </div>
 </li>
 <li>
 <div class="navitem"><%= link_to projects_path, class:"nav-link" do %>
 <div class="itemcontent">
 <%= "Réseaux" %>
 </div>
 <% end %>
 </div>
 </li>
  <li>
 <div class="navitem"><%= link_to projects_path, class:"nav-link" do %>
 <div class="itemcontent">
 <%= "RANKING" %>
 </div>
 <% end %>
 </div>
 </li>
 </ul>
</nav> 
-->

<!--
<div class="container">
<div class="card">
    <div class="pic">
        <%= image_tag "profile (2).jpg" %>
    </div>
    <div class="content">
        <div class="details">
            <h2>Kyllian Creppy <br><span>Développeur Full-stack junior</span></h2>
            <div class="desc">
            <h3>Bonjour, je suis Kyllian Creppy, Développeur Full-stack junior basé en Île-de-France. Je suis à la recherche d'un contrat alternance pour septembre 2022.</h3>
            </div>
        </div>
    </div>
</div>
</div>

-->
<section class="banner">
    <div class="contentBx">
    <div>
        <h4><span>Bonjour</span>, Je suis</h4>
            <h2 class="name">Kyllian Creppy</h2>
                <h4>Je suis Développeur Full-stack Junior</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit quaerat accusantium culpa fugit dicta non, odit ea velit neque.</p>
                        <%= link_to about_path, class:"btn" do %>
                        <%= "En savoir plus" %>
                        <% end %>
    </div>
    </div>
</section>

<section class="about">
<div class="title">
<h2>À propos de moi</h2>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
</div>
<div class="content">
<div class="textBx">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis consequuntur ex libero, nam accusamus voluptatum <br> deleniti ducimus doloremque vitae sapiente voluptates illum fugiat tempore quae similique quia quo! Doloremque, iusto.</p>
</div>
    <div class="imgBx">
    </div>
</div>
</section>