<header>
<%= link_to about_path, class:"logo" do %>
 <%= "kycode" %>
  <% end %>
<div class="toggle"></div>
<ul>
<li><a href="#about">À propos</a></li>
<li><a href="#services">Services</a></li>
<li><a href="#work">Projets</a></li>
<li><a href="#social">Réseaux</a></li>
<li><a href="#contact">Contact</a></li>
</ul>
</header>
</div>
<section class="banner">
</div>
    <div class="textBx">
    <div>
            <h2 class="name">Bonjour, Je suis<br><span>Kyllian Creppy</span></h2>
                <h3>Je suis Développeur Full-stack Junior</h3>
                        <%= link_to about_path, class:"btn" do %>
                        <%= "En savoir plus" %>
                        <% end %>
    </div>
    </div>
</section>


<section class="about" id="about">
  <div class="heading">
    <h2>À propos de moi</h2>
  </div>
<div class="content">
  <div class="contentBx w50">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis consequuntur ex libero, nam accusamus voluptatum <br> deleniti ducimus doloremque vitae sapiente voluptates illum fugiat tempore quae similique quia quo! Doloremque, iusto.</p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta tempore alias quam, distinctio aliquam porro sapiente deleniti incidunt, at quis minus vel vero ullam beatae repudiandae temporibus eum quia ducimus!</div>
    <div class="w50">
    <%= image_tag "key.jpg", clas:"img" %>
    </div>
</div>
</section>
<section class="services" id="services">
  <div class="heading white">
    <h2>Services</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, deleniti, magnam voluptas, ipsa in aliquid accusantium nostrum numquam similique ex ratione ad esse nobis quibusdam quae recusandae vel minima dolorum.</p>
</div>
<div class="content">
  <div class="servicesBx">
    <i class="fa-solid fa-paintbrush"></i>
      <h2>Web Design</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident atque tenetur cupiditate consectetur vel et harum, explicabo quo assumenda quibusdam doloremque est a unde molestiae nam quae autem odit aliquid?</p>
</div>
<div class="servicesBx">
  <i class="fa-solid fa-desktop"></i>
    <h2>Web Design</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident atque tenetur cupiditate consectetur vel et harum, explicabo quo assumenda quibusdam doloremque est a unde molestiae nam quae autem odit aliquid?</p>
</div>
<div class="servicesBx">
  <i class="fa-solid fa-camera"></i>
    <h2>Web Design</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident atque tenetur cupiditate consectetur vel et harum, explicabo quo assumenda quibusdam doloremque est a unde molestiae nam quae autem odit aliquid?</p>
</div>
</div>
</section>

<section class="work" id="work">
<div class="heading">
<h2>My projects</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa molestiae quam reiciendis delectus, nulla sequi nisi voluptas perferendis enim nemo laboriosam, excepturi repellendus odit dignissimos eveniet obcaecati! Possimus, aperiam dolor.</p>
</div>
<div class="content">
<div class="workBx">
<%= image_tag "leone-venter-VieM9BdZKFo-unsplash.jpg"%>
</div>
<div class="workBx">
<%= image_tag "carlos-muza-hpjSkU2UYSU-unsplash.jpg"%>
</div>
<div class="workBx">
<%= image_tag "kevin-bhagat-zNRITe8NPqY-unsplash.jpg"%>
</div>
<div class="workBx">
<%= image_tag "sophie-UXIXa5fDI7s-unsplash.jpg"%>
</div>
</div>
<div class="heading">
<%= link_to about_path, class:"btn" do %>
                        <%= "Voir plus" %>
                        <% end %></div>
</section>
<section class="social" id="social">
<div class="heading white">
<h2>Réseaux sociaux</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam voluptatibus quis error non aperiam nesciunt consequuntur aliquam quam odio assumenda, ipsam quidem incidunt, distinctio dignissimos molestiae necessitatibus culpa! Minus, optio!</p>
</div>
<div class="content">
<div class="socialBx">
<i class="fa-brands fa-twitter"></i>
</div>
<div class="socialBx">
<i class="fa-brands fa-github"></i>
</div>
<div class="socialBx">
<i class="fa-brands fa-instagram"></i>
</div>
<div class="socialBx">
<i class="fa-brands fa-stack-overflow"></i>
</div>
<div class="socialBx">
<i class="fa-brands fa-linkedin"></i>
</div>
</div>
</section>

<section class="contact" id="contact">
  <div class="heading">
    <h2>Contactez-moi</h2>
</div>
<div class="content">
  <div class="contactInfo">
    <div class="box">
      <div class="icon"><i class="fa-solid fa-phone"></i></div>
        <div class="text">
          <h3>Téléphone</h3>
            <p>06 50 82 42 55</p>
        </div>
      </div>
    <div class="box">
          <div class="icon"><i class="fa-solid fa-envelope"></i></div>
            <div class="text">
              <h3>Email</h3>
                <p>kyllian.creppy@outlook.fr</p>
            </div>
          </div>
    </div>
</div>
</section>


<script type="text/javascript">
window.addEventListener('scroll',function (){
  var header = document.querySelector('header');
  header.classList.toggle('sticky', window.scrollY > 0);
});
</script>